<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.maria.prueba1" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InterfazUsuario"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".InterfazBodeguero" />
        <activity android:name=".InterfazRepartidor" >
        </activity>
        <activity
            android:name=".ModificarCliente"
            android:label="@string/title_activity_modificar_cliente" />
        <activity android:name=".GenerarPedido" />
        <activity android:name=".IngresarCliente" />
        <activity android:name=".CancelarPedido" />
        <activity android:name=".DistribucionPedido" />
        <activity android:name=".GenerarPago" />
        <activity android:name=".GenerarPedido" />
        <activity android:name=".IngresarCamion" />
        <activity android:name=".IngresarPago" />
        <activity android:name=".ModificarPedido" />
        <activity android:name=".ModificarProducto" />
        <activity android:name=".ProcesarPedido" />
        <activity android:name=".VerPedido" />
        <activity
            android:name=".GestionarCompra"
            android:label="@string/title_activity_gestionar_compra" >
        </activity>
        <activity
            android:name=".GestionarCamion"
            android:label="@string/title_activity_gestionar_camion" >
        </activity>
        <activity
            android:name=".ModificarCamion"
            android:label="@string/title_activity_modificar_camion" >
        </activity>
        <activity
            android:name=".EliminarCamion"
            android:label="@string/title_activity_eliminar_camion" >
        </activity>
        <activity
            android:name=".ListarCamion"
            android:label="@string/title_activity_listar_camion" >
        </activity>
        <activity
            android:name=".IngresarProducto"
            android:label="@string/title_activity_ingresar_producto" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MostrarRuta"
            android:label="@string/title_activity_mostrar_ruta" >
        </activity>
        <activity
            android:name=".OpcionPago"
            android:label="@string/title_activity_opcion_pago" >
        </activity>
    </application>

</manifest>
